.row {
  display: flex;
}

.column {
  margin-top: 170px;
  flex: 50%;
}

.headertext h1 {
  font-size: 100px;
  font-family: 'Bennet-Text-Four';
  margin-top: 40px;
  margin-right: 70px;
  color: #e2e2e2;
}

.logoturning {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 400px;
  height: 400px;
  transform: rotateY(90deg);
  animation: rotateAnimation 3s linear infinite;
}
.square img {
  margin-top: 40px;
  margin-right: 150px;
  width: 100%;
  pointer-events: none;
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(270deg);
  }
}
.scroll-downs {
  position: absolute;
  top: 1;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-bottom: 40px;

  width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
