* {
  margin: 0;
}
.App {
  text-align: center;
}
.navbarmain {
  margin-left: auto;
  margin-right: auto;
}
.bg-img {
  background-image: url('Assets/bg.jpg');
  min-height: 380px;
  max-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-link {
  color: #61dafb;
}
